/*div, button {
	border: 1px solid blue;
}*/

.ng-view {
	z-index: 1
}
html {
	font-family: 'Raleway'
}
body, p, h1{ 
	font-family: 'Raleway', verdana;
	color: #4D4946;
	font-weight: bold;
}
nav{
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	width: 15%;
	height: 100vh;
	/*float:left;*/
}
.navSpacer{
	width:14%;
	height:100vh;
	float:left;
}
ul{
	margin-top: 80px
}
i{
	margin-left: 20px;
	color: #4D4946;
}
.icons {
	margin-top:80px;
}
.content{
	min-height: 100vh;
	float: left;
	width: 85%;
	margin-left: 15%;

}
li{
	margin-top: 10px;
	list-style: none;
}
a{
	text-decoration: none;
}

li > a {
	position: relative;
  	text-decoration: none;
  	  color: #4D4946;

}
li >a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4D4946;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;

}

li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* a {
	text-decoration: none;
	color: inherit;
	padding:0;
	margin: 0;
}*/


.logo {
	width: 100%;
	
}
.logo img {
	height: 150px;
	width: 100px;
	margin-top: 10%;
	margin-left:30%
}
.admin{
	color: red;
}

footer{
	float:left;
	width: 100%;
	height: 50px;
	background: #F1F2F2;
	padding-top: 50px;
}

.footerRow {
	text-align: center;
}
/*---------------------------home---------------------------------------*/
.homeBody {
	
	background-size: contain;
	width: 100%;
	height: 100vh;
}

.homeBody >img{
	z-index: 1;
	position:absolute;
	width: 100%;r
	height: 100vh;
	left:0;
	min-width: 1200px;
	min-height: 800px;	
}


/*--------------------------portfolio template---------------------------*/
.portfolio{
  width:100%;
  display: float;
}
.port {
 width: 50%;
  float: left;
 height: 300px;
  background: lightgray;
}

.portContent {
	width: 100%;
	height:100%;

}

.port1>.portContent{
	background: url('https://images.unsplash.com/photo-1431538510849-b719825bf08b?q=80&fm=jpg&s=6fd7a983e3b43e66d2b6062856b9df66');
	background-size: cover;
}

.port2>.portContent{
	background: url('https://images.unsplash.com/photo-1436874555419-bb64221c5c1d?q=80&fm=jpg&s=4593f78e972ee577c98775d55b66a344');
	background-size: cover;
}
.port3>.portContent{
	background: url('https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?q=80&fm=jpg&s=29b3d57347ca107a06e5cfe262f24ef1');
	background-size: cover;
}
.port4>.portContent{
	background: url('https://images.unsplash.com/photo-1436367050586-7c605120bf73?q=80&fm=jpg&s=20af129ec5d7751c0ba4888ebb1fb0ee');
	background-size: cover;
}
.port5>.portContent{
	background: url('https://images.unsplash.com/photo-1438029071396-1e831a7fa6d8?q=80&fm=jpg&s=f9871beffe0d05c626a91cb5dce35a81');
	background-size: cover;
}
.port6>.portContent{
	background: url('https://images.unsplash.com/photo-1437075130536-230e17c888b5?q=80&fm=jpg&s=9b73917f45dd1bed866904833e297478');
	background-size: cover;
}


.portInfo{
	width:100%;
	height:100%;
		background-color: rgba(51, 51, 51, .75);

	opacity: 0;
	font-size: 40px;
	text-align: center;
	color: white;
}
 .portContent:hover .portInfo{
	opacity: 1;
}
.portInfo:hover {
	opacity: .5;

}


/*.port1 > .portContent> .portInfo{
	background-color: rgba(0, 255, 255, .25);
}
.port2 > .portContent> .portInfo{
	background-color: rgba(51, 102, 0, .25);
}
.port3 > .portContent> .portInfo{
	background-color: rgba(255, 255, 0, .25);
}
.port4 > .portContent> .portInfo{
	background-color: rgba(255, 102, 153, .25);
}
.port5 > .portContent> .portInfo{
	background-color: rgba(0, 102, 255, .25);
}
.port6 > .portContent> .portInfo{
	background-color: rgba(255, 0, 0, .25);
}*/



/*----------------------------BLOG template--------------------------------*/
h1{
	text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0, 0, 0, 0.15);
}
.blog-posts{
	padding:40px 100px;
	border-bottom: 1px solid lightgray;
	width:80%;
}

/*----------------------------CONTACT template--------------------------------*/
.contact{
	text-align: center;
	margin-top: 10px;
	color:#4D4946;
	/*color:inherit;*/
}
.red {
	color: #772843

;
}
.iconWrapper{
	width: 100%;
	margin-top: 60px;
}

.contacttext{
	width: 200px;
	margin:0 auto;
	color:#162f37;
	color:inherit;
}

.contactLeft{
	text-align: center;
	
	width: 50%;
	float:left;
}

h2 {
	text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0, 0, 0, 0.15);
}

.contactLeft > h2 {
	text-align: left;
	color:#4D4946;
}

.contactRight{
	width: 50%;
	height: 100vh;
	background: #162f37;
	float:left;

}

.contactRight > p{
	color: white;
	font-family: 'Raleway';
	margin:80px 60px;
	font-size: 23px

}

.contactForm {
	color:white;
	margin-left: 80px;
}

.formWords{
	width: 20px;
}

.formWords > input{
	margin-top: 10px;
}

.messageMe {
	margin-top: 10px;
	width: 60%;
	height: 200px;
}



/*----------------------------Bio template--------------------------------*/
.aboutRight > p{
	color: #162f37 ;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0, 0, 0, 0.15);
	
}
.aboutLogoWrapper {
	width: 100%;
}
.aboutLogo{
	margin-left: 48%;
}
.aboutLogo > img {
	width: 40px;
	height: 80px;
}
.aboutLeft{
	float: left;
	width: 50%;
	background: url('../media/aboutback.png');
}



.aboutRight{
	float: left;
	width: 50%;

	
}

.webDev{
	width: 100%;
 	float: left;
 	clear:both;
 	text-align: center;

}
.webDev > p {
	border: 2px solid white;
	color: white;
	display:inline-block;
	padding:15px 20px;
}

.aboutBySide-left {
	width: 50%;
	text-align: center;

}
.aboutBySide-left > p, .aboutBySide-right > p{
	margin: 15px 70px;
	float:left;
	color: white;
}
.aboutLeftSkills{
	width: 100%;
	float:left;
}
.aboutLeftSkills > img{
	display:block;
	margin:auto;
	width:60%;

}
.aboutLeftTools> img{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width: 40%;
	margin-bottom: 100px;

}
.aboutBySide-right {
	width: 50%;
	text-align: center;
	float:left;
}

@media only screen and (max-width: 1500px) {
	.aboutBySide-left, .aboutBySide-right {
		width:100%;
		
	}
}
span {
	color:#162f37;
}
.animated-text{
		font-size: 40px;
    	line-height:50px;
		margin: 100px 0;
	}



/*----------------------------Admin template--------------------------------*/


input, textarea, button {
	
	border:0; 
	outline:none;
	display: inline;
}

.enterPost {
	text-align: center;

}

.display-add-post {
	margin-left: 46%;
}

button {
	width: 100px;
    height: 35px;
    /*padding-left: 15px;*/
    border: none;
	border-radius: 20px;
	
}
.allData {
	color: red;
}
.allDataTrue{
	color: green;
}



.inputPost {
	margin-top: 20px;
	width: 50%;
	height:300px;
	 border: none;
    border-radius: 20px;
    background: #E1E3E4;
    margin-bottom: 20px;
}

.adminData{
    width: 100px;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background:#A7FFAB;
    background: #E1E3E4;
    opacity: 0.75;}
/*
.animated-text{
		font-size: 40px;
    line-height:50px;
		margin: 100px 0;
}

    a{
      color: #green;
      text-decoration: none;
      text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0,         0, 0, 0.15);
      -webkit-text-shadow: 1px 1px 0px #fff, 3px 1px 0px         rgba(0, 0, 0, 0.15);
   }

      a:hover{
        color: red;
      }

		span{
			display: inline-block;
			text-transform: uppercase;
			vertical-align: middle;
			&:nth-of-type(1){
				transition-delay: 0.1s;
				-webkit-transition-delay: 0.1s;
			}
			&:nth-of-type(2){
				transition-delay: 0.125s;
				-webkit-transition-delay: 0.125s;
			}
			&:nth-of-type(3){
				transition-delay: 0.15s;
				-webkit-transition-delay: 0.15s;
			}
			&:nth-of-type(4){
				transition-delay: 0.175s;
				-webkit-transition-delay: 0.175s;
			}
			&:nth-of-type(5){
				transition-delay: 0.2s;
				-webkit-transition-delay: 0.2s;
			}
			&:nth-of-type(6){
				transition-delay: 0.225s;
				-webkit-transition-delay: 0.225s;
			}
			&:nth-of-type(7){
				transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
			}
			&:nth-of-type(8){
				transition-delay: 0.275s;
				-webkit-transition-delay: 0.275s;
        margin-right: 8px;
			}
			&:nth-of-type(9){
				transition-delay: 0.3s;
				-webkit-transition-delay: 0.3s;
			}
			&:nth-of-type(10){
				transition-delay: 0.325s;
				-webkit-transition-delay: 0.325s;
			}
      &:nth-of-type(11){
				transition-delay: 0.350s;
				-webkit-transition-delay: 0.350s;
			}
      &:nth-of-type(12){
				transition-delay: 0.375s;
				-webkit-transition-delay: 0.375s;
			}
		}*/


