/**{
	font-family: 'Old Standard TT', serif;
	border: 1px solid blue;
}*/
nav{
	width: 15%;
	
	height: 100vh;
	float:left;
}

.content{
	
	float: left;
	padding: 30px 50px;
	width: 73%;
}
a, li {
	list-style: none;
	text-decoration: none;
	color: inherit;
	padding:0;
	margin: 0;
}

.red {
	color: red;
}
.logo {
	width: 100%;
	
}
.logo img {
	height: 150px;
	width: 100px;
	margin-top: 10%;
	margin-left:20%
}
.admin{
	color: red;
}

/*---------------------------home---------------------------------------*/
.home-background {
	background-image: url(https://images.unsplash.com/photo-1425141750113-187b6a13e28c?q=80&fm=jpg&s=eeb42b31a13f5cbd25368fa0695e5d08);
	background-size: contain;
	width: 100%;
	height: 95vh;
}

/*--------------------------portfolio template---------------------------*/
.dogPhoto {
	background-image: url(../media/dog.png);
	width: 600px;
	height: 420px;
	
}
.hills {
	background-image: url(../media/hills.png);
	width: 600px;
	height: 420px;

}
.railroad {
	background-image: url(../media/railroad.png);
	width: 600px;
	height: 420px;

}

/*----------------------------BLOG template--------------------------------*/
.blog-posts{
	padding:40px 100px;
	border-bottom: 1px solid lightgray;
	width:80%;
}
/*----------------------------Bio template--------------------------------*/
.chris-bio-photo img{
	width: 500px;
	height: 300px;
	float: right;
}

.bioText {
	width: 60%;
}

/*----------------------------Admin template--------------------------------*/

.allData {
	color: red;
}
.allDataTrue{
	color: green;
}
.inputPost {
	margin-top: 20px;
	width: 50%;
	height:300px;
}



